.head {
    background-color: black;
    height: 15vw;
    text-align: center;
    margin-bottom: 20px;
    h1{
        padding-top: 1em;
        letter-spacing: 0.15em;
        // text-transform: uppercase;
        color: blanchedalmond;
        font-size: 3vw;
    }
    .headerInfo{
        color: blanchedalmond;
        font-style: italic;
        font-size: 1.2vw;
        letter-spacing: 0.25em;

    }
  }