.head {
    background-color: black;
    height: 15vw;
    text-align: center;
    h1{
        padding-top: 1em;
        letter-spacing: 0.35em;
        text-transform: uppercase;
        color: blanchedalmond;
        font-size: 3vw;
    }
  }