
.projects{
    display: flex;
    flex-flow: wrap row;
    margin: 20px;
}
.projectCard{
    background-color: #F5F1ED;
    padding: 10px;
    margin: 10px;
    position: relative;
   
}
@each $id, $img in $background-image {
.img-container-#{$id}  {
    height: 220px;
    padding: 5px;
    background-image: url($img);
    background-size: cover;
    background-position: center;

  }
}

.techSection{
    // font-size: 1vw;
    width: 90%;
    height: auto;
    float: bottom;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px rgba(65, 63, 63, 0.658) solid;
    border-radius: 5px;
    text-align: center;
    background-color:white;
}
.techCard{
    border: 1px solid gold;
    font-size: 1.2vw;
    margin: 10px;
}
.card-body{
    width: 100%;
    height: auto;
    background-color: white;
    background-image: linear-gradient(to top, rgba(247, 247, 248, 0.253), rgba(247, 231, 242, 0.73));
}
.card-title{
    font-size: 1.5vw;
    text-align: center;
}
.portfolio{
    display: inline-block;
}
.portfolioHead{
    display: block;
    margin: 30px auto;
    font-size: 3vw;
    text-align: center;
    width: 30%;
    background-color:#F5F1ED ;
    border-radius: 30px;
    border: 2px solid black;
}
.date{
    margin:10px auto;
    position: absolute;
    bottom: 0;
}