
.app{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

}



.profilePic{
    width:30%;
    height: 100%;
    background-color:white;
    margin: 0 100px 0 0;
    background-image: url('../images/profilepic.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    
}