@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import './globals/';
@import './components/';


body {
  background-image: url("../images/cover.jpg");
  background-repeat: repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  font-family: "Mukta", sans-serif;
  height: 100%;
}